<div class='panel panel-primary' *ngIf='product'>
    <div class='panel-heading'>
        {{pageTitle + ': ' + product.platoNombre}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{product.platoNombre}}</div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-3'>Description:</div>
                    <div class='col-md-6'>{{product.platodescrip}}</div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-3'>Price:</div>
                    <div class='col-md-6'>{{product.platoprice |currency:'USD':true}}</div>
                </div>
                
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='300' 
                     [style.height.px]='300'
                     [style.margin.px]='10' 
                     [src]='product.imageUrl'
                     [title]='product.platoNombre'>
            </div>
        </div>
        <a class='btn btn-default' (click)='Pedido()'  style='width:100px'  style="margin-left: 800px" >
            Agregar
        </a>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>

   
       
    
</div>